<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liufengkj.dao.ColumnMapper">
  <resultMap id="BaseResultMap" type="com.liufengkj.pojo.Column">
    <id column="Co_ID" jdbcType="INTEGER" property="coId" />
    <result column="Co_Name" jdbcType="VARCHAR" property="coName" />
    <result column="Co_Info" jdbcType="VARCHAR" property="coInfo" />
    <result column="Co_FatherID" jdbcType="INTEGER" property="coFatherid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Co_ID, Co_Name, Co_Info, Co_FatherID
  </sql>
  <select id="selectByExample" parameterType="com.liufengkj.pojo.ColumnExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HCYP_Column
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HCYP_Column
    where Co_ID = #{coId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from HCYP_Column
    where Co_ID = #{coId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.liufengkj.pojo.ColumnExample">
    delete from HCYP_Column
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.liufengkj.pojo.Column">
    insert into HCYP_Column (Co_ID, Co_Name, Co_Info, 
      Co_FatherID)
    values (#{coId,jdbcType=INTEGER}, #{coName,jdbcType=VARCHAR}, #{coInfo,jdbcType=VARCHAR}, 
      #{coFatherid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.liufengkj.pojo.Column">
    insert into HCYP_Column
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="coId != null">
        Co_ID,
      </if>
      <if test="coName != null">
        Co_Name,
      </if>
      <if test="coInfo != null">
        Co_Info,
      </if>
      <if test="coFatherid != null">
        Co_FatherID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="coId != null">
        #{coId,jdbcType=INTEGER},
      </if>
      <if test="coName != null">
        #{coName,jdbcType=VARCHAR},
      </if>
      <if test="coInfo != null">
        #{coInfo,jdbcType=VARCHAR},
      </if>
      <if test="coFatherid != null">
        #{coFatherid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.liufengkj.pojo.ColumnExample" resultType="java.lang.Long">
    select count(*) from HCYP_Column
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update HCYP_Column
    <set>
      <if test="record.coId != null">
        Co_ID = #{record.coId,jdbcType=INTEGER},
      </if>
      <if test="record.coName != null">
        Co_Name = #{record.coName,jdbcType=VARCHAR},
      </if>
      <if test="record.coInfo != null">
        Co_Info = #{record.coInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.coFatherid != null">
        Co_FatherID = #{record.coFatherid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update HCYP_Column
    set Co_ID = #{record.coId,jdbcType=INTEGER},
      Co_Name = #{record.coName,jdbcType=VARCHAR},
      Co_Info = #{record.coInfo,jdbcType=VARCHAR},
      Co_FatherID = #{record.coFatherid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.liufengkj.pojo.Column">
    update HCYP_Column
    <set>
      <if test="coName != null">
        Co_Name = #{coName,jdbcType=VARCHAR},
      </if>
      <if test="coInfo != null">
        Co_Info = #{coInfo,jdbcType=VARCHAR},
      </if>
      <if test="coFatherid != null">
        Co_FatherID = #{coFatherid,jdbcType=INTEGER},
      </if>
    </set>
    where Co_ID = #{coId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liufengkj.pojo.Column">
    update HCYP_Column
    set Co_Name = #{coName,jdbcType=VARCHAR},
      Co_Info = #{coInfo,jdbcType=VARCHAR},
      Co_FatherID = #{coFatherid,jdbcType=INTEGER}
    where Co_ID = #{coId,jdbcType=INTEGER}
  </update>
</mapper>